.event-container {
  background-color: white; 
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.form-buttons {
  text-align: center;
  margin-top: 20px; 
}

button {
  margin: 0 10px; 
}

mat-card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px; 
}

.event-form {
max-width: 250px;
margin: auto;
}

mat-form-field {
width: 100%;
}
